/*remove all default padding, margins and borders. From Love Running project*/
* {
  padding: 0;
  margin: 0;
  border: none;
}

/*set style of body*/
body {
	font-family: 'palatino linotype', Verdana, sans-serif;
	background-color: whitesmoke;
  color: rgb(3, 77, 3);
}

/*set nav to float right*/
nav {
  float: right;
}

/*set nav list items to float left, from W3Schools. Styling based on Love Running project*/
nav li {
  float: left;
  font-size: 1.1rem;
  letter-spacing: 2px;
  list-style-type: none;
  margin-right: 20px;
  line-height: 75px;
}

/*show line under link when mouse or cursor moves over it, based on Love Running project*/
nav a:hover {
  border-bottom: 2px solid gold;
}

/*Set size, colour of header, set z-index to prevent disappearing behind image*/
header {
  height: 9vh;
  width: 100%;
  background-color: rgb(3, 77, 3);
  z-index: 3;
 }

 /*fix header to top of document*/
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

/*set style of h1 element, spacing, size and height based on Love Running project styling*/
h1 {
  color: gold;
  float: left;
  letter-spacing: 2px;
  font-size: 300%;
  line-height: 75px;
  margin-left: 30px;
}

/*show line under h1 when mouse or cursor moves over it, based on Love Running project*/
h1:hover {
  border-bottom: 2px solid gold;
}

/*set main image, based on hero image from Love Running, z-index enables header to remain visible*/
#zoom-in {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 75px;
  z-index: 1;
}

/*set style for main image*/
#main-image {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/loughallen.jpg");
  display:flex;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  
/*animate main image when page loads, as per Love Running project*/
  animation-name: main-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes main-zoom {
  from {
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

/*style about us section, inspired by Love Running project*/
.welcome {
  text-align: center;
  margin: 2rem 0;
  background-color: whitesmoke;
  color:rgb(3, 77, 3);
}

#about-us {
  height: 600px;
}

#left-most {
  width: 33%;
  float: left;
  padding-top: 30px;
}

#right-most {
  width: 33%;
  float: right;
  padding-top: 30px;
}

#centremost {
  width: 33%;
  margin: 0 auto;
}

.left-most-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-most-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-most-heading h2 {
  text-align: right;
}

.right-most-heading p {
  text-align: right;
}

#circle-maker {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(3, 77, 3);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-background {
  background: url("../images/waterfall2.jpg") no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

/*style h2 element*/
h2 {
  background-color: rgb(3, 77, 3);
  color: whitesmoke;
}

/*create space above h2 to not be behind fixed header when link clicked*/
#spacer {
  padding-top: 10vh; 
}

/*style h3 element*/
h3 {
  color: rgb(3, 77, 3);
  margin: 1rem;
}

/*style links on document*/
a {
  color: gold;
  text-decoration: none;
  font-size: 1rem;
  margin: 1rem;
}

/*float content to the left of page, width prevents overlapping*/
.float-left {
  width: 49%;
  float: left;
}

/*float content to right of page, width prevents overlapping*/
.float-right {
  width: 49%;
  float: right;
}

/*style paragraphs*/
p {
  color: rgb(3, 77, 3);
  font-size: 1.15rem;
  padding: 1rem;
}

/*set organised list to match style of rest of document*/
ol {
  color: rgb(3, 77, 3);
  border: solid 2px rgb(3, 77, 3);
  margin: 1rem;
  padding: 1rem;
}

/*set unorganised list to match style of rest of document*/
ul{
  color: rgb(3, 77, 3);
  list-style-type:none;
  margin: 1rem;
}

/*set border and style rules for images*/
article img {
  border: 2px solid rgb(3, 77, 3);
  max-width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
 }
/*match sizes of lake image with stream image*/
 .lake {
  width: 66%;
 }

 .stream {
  width: 66%;
 }

 /*set style of fieldset, styled after Coder Coffehouse project*/
 fieldset {
	border: none;
	margin-top: 10px;
  color: rgb(3, 77, 3);
}

/*style legend, styled after Coder Coffehouse project*/
legend {
	font-size: large;
	font-weight: 600;
	margin: 20px 0 10px 0;
}

/*style text input box, styled after Coder Coffehouse project*/
input[type=text] {
	background-color: whitesmoke;
	color: rgb(3, 77, 3);
	border: 1px solid rgb(3, 77, 3);
}

/*style email input box, styled after Coder Coffehouse project*/
input[type=email] {
	background-color: whitesmoke;
	color: rgb(3, 77, 3);
	border: 1px solid rgb(3, 77, 3);
}

/*style textarea box, styled after Coder Coffehouse project*/
textarea {
	background-color: whitesmoke;
	color: rgb(3, 77, 3);
	border: 1px solid rgb(3, 77, 3);
}

/*style submit button, styled after Coder Coffehouse project*/
input[type=submit] {
	margin-top: 10px;
	margin-left: 1rem;
	padding: 1rem;
	background-color: whitesmoke;
	color: rgb(3, 77, 3);
	border: 1px solid rgb(3, 77, 3);
	border-radius: 5px;
}

/*style reset button, styled after Coder Coffehouse project*/
input[type=reset] {
	margin-top: 10px;
	margin-left: 1rem;
	padding: 1rem;
	background-color: whitesmoke;
	color: rgb(3, 77, 3);
	border: 1px solid rgb(3, 77, 3);
	border-radius: 5px;
}

/*set rules for form, styled after Coder Coffehouse project*/	
form {
	width: 75vw;
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 5vw;
	background-color: whitesmoke;
}
/*style fine details*/
#fine-detail {
    font-size: smaller;
    margin-bottom: 8vh;
}

/*style footer to same as header*/
footer {
	background-color: rgb(3, 77, 3);
	padding: 1em;
  text-align: center;
  width: 98%;
  height: 3vh;
  color: gold;
}

/*change font awesome social media icons in footer white*/
footer a {
  color: white;
}

/*fix footer to bottom of page*/
.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

/*show line under link when mouse or cursor moves over it, based on Love Running project*/
footer a:hover {
  border-bottom: 1px solid gold;
}

/*set page response to screen size under 1200px*/
 @media screen and (max-width: 1200px) {
	#about-us {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }
  
  #welcome {
    padding: 30px 0;
    margin: 0;
  }

  #left-most, #right-most {
    width: 100%;
    float: left;
    padding: 0;
  }

  #centremost {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }

  header {
    height: 10vh;
  }

  #spacer {
    padding-top: 20vh; 
  }

  h1 {
    color: gold;
    float: left;
    letter-spacing: 1px;
    font-size: 250%;
    line-height: 75px;
    margin-left: 10px;
  }

  nav a {
    background-color: rgb(3, 77, 3);
  }

  nav li {
    float: left;
    font-size: 1rem;
    letter-spacing: 1px;
    list-style-type: none;
    margin-right: 10px;
    line-height: 10vh;
  }

}

/*set media rsponse to screen size below 950px*/
@media screen and (max-width: 950px) {
	
  header {
    height: 25vh;
    padding: 0;
    margin: 0;
  }

  nav {
    clear: left;
    float:inline-end;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  nav li {
    float: left;
    font-size: 1rem;
    letter-spacing: 0;
    list-style-type: none;
    margin: 0;
    line-height: 25px;
  }

  h1 {
    float:inline-start;
    text-align: center;
    letter-spacing: 1px;
    font-size: 200%;
    padding: 0;
    margin: 0;
  }

  #about-us {
    height: 1200px;
    width: 90%;
    margin: 0 auto;
  }

  .left-most-heading, .right-most-heading {
    width: inherit;
  }

  .left-most-heading h2, .right-most-heading h2 {
    width: 100%;
    text-align: center;
  }

}

 