/*remove all default padding, margins and borders. From Love Running project*/
* {
  padding: 0;
  margin: 0;
  border: none;
}
/*set style of body*/
body {
	font-family: 'palatino linotype', Verdana, sans-serif;
	background-color: whitesmoke;
  color: rgb(3, 77, 3);
}
/*set nav to float right*/
nav {
  float: right;
}
/*set nav list items to float left and style. Styling based on Love Running project*/
nav li {
  float: left;
  font-size: 1.1rem;
  letter-spacing: 2px;
  list-style-type: none;
  margin-right: 20px;
  line-height: 75px;
}
/*show line under link when mouse or cursor moves over it, based on Love Running project*/
nav a:hover {
  border-bottom: 2px solid rgb(3, 77, 3);
}
/*Set size of header*/
header {
  height: 5vh;
  width: 100%;
}
/*fix header to top of document*/
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}
/*set style of h1 element, spacing, size and height based on Love Running project styling*/
h1 {
  color: rgb(3, 77, 3);
  float: left;
  letter-spacing: 2px;
  font-size: 300%;
  line-height: 75px;
}
/*show line under link when mouse or cursor moves over it, based on Love Running project*/
h1:hover {
  border-bottom: 2px solid rgb(3, 77, 3);
}
/*set style for main image*/
#main-image {
  width: 100%;
  height: 800px;
  background-image: url("/assets/images/loughallen2.jpg") no-repeat center center;
}
/*style h2 element*/
h2 {
  background-color: rgb(3, 77, 3);
  color: gold;
}
/*style h3 element*/
h3 {
  color: rgb(3, 77, 3);
}
/*style links on document*/
a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  margin: 1rem;
}
/*float content to the left of page, width prevents overlapping*/
.float-left {
  width: 49%;
  float: left;
}
/*float content to right of page, width prevents overlapping*/
.float-right {
  width: 49%;
  float: right;
}
/*style paragraphs*/
p {
  color: rgb(3, 77, 3);
  font-size: 1.15rem;
  margin-left: 3vw;
}
/*set organised list to match style of rest of document*/
ol {
  color: rgb(3, 77, 3);
  border: solid 2px rgb(3, 77, 3);
}
/*set unorganised list to match style of rest of document*/
ul{
  color: rgb(3, 77, 3);
  list-style-type:none;
}
/*set border and style rules for images*/
article img {
  border: 2px solid rgb(3, 77, 3);
  max-width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
 }
/*set style of fieldset*/
 fieldset {
	border: none;
	margin-top: 10px;
  color: rgb(3, 77, 3);
}
/*style legend*/
legend {
	font-size: large;
	font-weight: 600;
	margin: 20px 0 10px 0;
}

/*style submit button*/
input[type=submit] {
	margin-top: 10px;
	margin-left: 1rem;
	padding: 1rem;
	background-color: whitesmoke;
	color: rgb(3, 77, 3);
	border: 1px solid rgb(3, 77, 3);
	border-radius: 5px;
}
/*style reset button*/
input[type=reset] {
	margin-top: 10px;
	margin-left: 1rem;
	padding: 1rem;
	background-color: whitesmoke;
	color: rgb(3, 77, 3);
	border: 1px solid rgb(3, 77, 3);
	border-radius: 5px;
}
/*set rules for form*/	
form {
	width: 75vw;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 5vw;
	background-color: whitesmoke;
}
/*style footer to same as rest of page*/
footer {
	background-color: rgb(3, 77, 3);
	padding: 1em;
  text-align: center;
  width: 98%;
  height: 3vh;
  color: gold;
}
/*fix footer to bottom of page*/
.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}
/*show line under link when mouse or cursor moves over it, based on Love Running project*/
footer a:hover {
  border-bottom: 1px solid gold;
}

/*set page response to smaller screen size*/
 @media screen and (max-width: 600px) {
	.fixed-bottom {
		position: relative;
    bottom: 0;
    right: 0;
    overflow: hidden;
	}
  
  nav {
    background-color: rgb(3, 77, 3);
    color: gold;
    text-align: center;
    font-size: smaller;
    margin: 0px;
    padding: 0px;
  }

}

 